.home-header {
  background: #2a2a2a;
  height: 53px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.home-header .header-logo {
  width: 95.78125%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 53px;
}
.home-header .header-logo img {
  width: 100px;
  height: 30px;
  margin-top: 11.5px;
}
.home-header .header-logo i {
  color: #fff;
  font-size: 28px;
}
.home-header .header-menu {
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
}
.home-header .header-menu li {
  background: #2a2a2a;
  border-top: 1px solid #464646;
  height: 46px;
  text-align: center;
  line-height: 46px;
  color: #e0e0df;
}
.home-swiper {
  position: relative !important;
}
.home-swiper .dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  text-align: center;
}
.home-swiper .dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #dfdfdf;
  border-radius: 50%;
  margin: 5px;
}
.home-swiper .dots span.active {
  background: #51a7eb;
}
h2 {
  font-size: 20px;
  color: #2a2a2a;
}
.home-lists {
  width: 95%;
  margin: 0 auto;
}
.home-lists li {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.home-lists li img {
  width: 100%;
}
.home-lists li p {
  font-size: 20px;
  line-height: 40px;
}
.home-lists li span {
  color: red;
}
